/* Global */
.header {
  background-color: #181818;
}

p, strong, b, h1, h2, h3, h4 {
  color: #fff;
}

a { color: #14BAE4; }

body {
  background-color: #303030;
  color: #ddd;
}

.form-control, .form-select {
  background-color: #232323;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
.btn-primary { background-color: #2ecc71; color: #fff; background-image: none; }
.btn-primary:hover { background-image: none!important; }
.muted-link { color: #ddd; }
.muted-link:hover { color: #2ecc71; }

/* Navbar */
.header-logo-invertocat .octicon-mark-github { color: #fff; }
.header-nav-link, .header-nav-link:hover{ color: #fff; transition: all 200ms ease; }
.header-nav-link:hover { transform: translateY(0.3em); background-color: #303030; }
.header-nav-item .dropdown-menu { background-color: #202020; }
.dropdown-menu::after { border-bottom-color: #202020; }
.dropdown-item, .dropdown-header { color: #ddd; }
.dropdown-signout { color: #e74c3c; }

/* User Profile */
.user-profile-nav, .user-profile-sticky-bar::after {
  background-color: #282828;
  color: #fff;
  border-bottom: 0;
  box-shadow: none;
}

.filter-item { color: #eee; }
.filter-item:hover { background-color: #252525;}
.filter-item.selected { background-color: #181818; }

.d-inline-block, .text-gray { color: #ccc; }
.bg-white { background: #252525; padding-left: 5px; }

.f6 { color: #fff; }
.calendar-graph text.month, .calendar-graph text.wday { fill: #ddd; }

.user-profile-bio, .vcard-username {
  color: #ccc;
}

.ajax-pagination-form .ajax-pagination-btn {
  color: #ddd;
  background-color: #252525;
  border: 0;
  border-radius: 0;
}

.topic-tag-link, .topic-tag-link:hover { background: #252525; }

.float-left { color: #fff; }
.profile-rollup-wrapper .css-truncate-target { color: #ddd; }
.link-gray-dark { color: #bbb; }

.underline-nav-item, .underline-nav-item:hover, .underline-nav-item:focus, .Counter,
.contributions-setting .contributions-setting-link {
  color: #fff;
  transition: all 200ms ease;
}
.underline-nav-item:hover { transform: translateY(-0.3em); background-color: #303030; }

.profile-timeline-year-list { background: transparent; }
.pinned-repos-setting-link { color: #ddd; font-weight: bold; }
.d-table-cell:hover { color: #aaa; }
.d-table-cell { color: #fff!important; }
.pinned-repo-desc { color: #ddd; }


/** Lewis' Contrib */
body {
    background-color: #303030;
}

.boxed-group h3, .select-menu-header, .commit-tease, .commit-tease-contributors {
    background-color: #353535;
    border: none;
}

.commit-tease-contributors {
    background-color: #404040;
}

.boxed-group .boxed-group-inner, .boxed-group .boxed-group-inner .more-repos, .mini-repo-list-item, .filter-bar, .select-menu-filters, .js-navigation-item {
    background-color: #404040;
    border: none;
    box-shadow: none;
}

.select-menu-header .select-menu-title {
    color: #ffffff;
}

.select-menu-text-filter input {
    border: none;
}

.select-menu-header {
    border: none;
}

.select-menu-item {
    background-color: #404040;
    color: #ffffff;
    border: none;
}

.select-menu-list:last-child .select-menu-item:last-child, .select-menu-item.last-visible {
    border: none;
    border-radius: 0px;
}

.select-menu-item.navigation-focus, .select-menu-item.selected {
    background-color: #14BAE4;
}

.repo-filter, .octicon, .title, blockquote {
    color: #ffffff;
}

.news .alert {
    border-top: 1px solid transparent;
}

.btn.select-menu-button, .btn.btn-sm {
    background: #353535;
    color: #ffffff;
}

.pagehead {
    background-color: inherit;
}

.social-count {
    background: #353535;
    color: #ffffff;
}

.reponav {
    border: none;
}

.reponav-item {
    background: #353535;
    color: #999999;
}

.reponav-item:hover {
    color: #ffffff;
}

.reponav-item.selected {
    background: #404040;
    color: #ffffff;
    border-color: #e36209 transparent transparent;
}

.text-gray-dark {
    color: #ffffff;
}

.numbers-summary li a, .numbers-summary span {
    color: #ffffff;
}

.repository-lang-stats-numbers li a span {
    color: #ffffff;
}

.numbers-summary {
    background: #454545;
}

.overall-summary, .repository-lang-stats-graph {
    border: none;
}

.file-wrap, .commit-tease {
    border: none;
}

a.user-mention {
    color: #ffffff;
}

a.message {
    color: #999999;
}

.markdown-body {
    background: #404040;
    border: none;
}

table.files tr.navigation-focus td {
    background: #505050;
}

table.files td {
    border: none;
}

.file {
    border: none;
}

.file-header {
    background: #353535;
    border: none;
}

.blob-num {
    color: #ffffff;
}

.data {
    background: #404040;
}

.blob-code-inner {
    color: #ffffff;
}
